@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --green: #3A9943;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--green);
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}


/* ======= Header Section/Seção de Cabeçalho ======= */
.header-1,
.header-2,
.header-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--green);
}

.header-1 {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.header-3 {
  background: #fff;
  position: relative;
  z-index: 10000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.header-1 span {
  font-weight: lighter;
  color: #fff;
  font-size: 1.7rem;
}

.header-1 a {
  padding: 0 .7rem;
  color: #fff;
  font-size: 2rem;
}

.header-1 a:hover {
  color: yellow;
}

.header-2 .logo {
  font-weight: bolder;
  font-size: 3rem;
  color: #fff;
}


.header-2 .logo i {
  color: yellow;
}

.header-2 .search-bar-container {
  display: flex;
  align-items: center;
  width: 50rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar {
  width: 100%;
  background: none;
  text-transform: none;
  color: #fff;
  font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder {
  text-transform: capitalize;
  color: #ddd;
}

.header-2 .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 .5rem;
}

.header-2 .search-bar-container label:hover {
  color: yellow;
}

.header-3 .navbar a {
  color: #666;
  font-size: 2rem;
  margin-right: 2rem;
}

.header-3 .icons a {
  color: #666;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header-3 a:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 3rem;
  color: #666;
  border: .1rem solid #666;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.header-3.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}



/* ======= Home Section/Seção inicial ======= */
.home {
  padding-top: 0;
}

.home .home-slider {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  border-top: 0;
}

.home .home-slider .box {
  background-size: cover !important;
  background-position: center !important;
  min-height: 55rem;
  position: relative;
}


.home .home-slider .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 50rem;
}


.home .home-slider .box .content span {
  font-size: 3rem;
  color: #444;
}

.home .home-slider .box .content h3 {
  font-size: 6rem;
  color: #333;
  padding: .5rem 0;
}


/* ======= Banner Section/Seção de banner ======= */
.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 25rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-container .banner .content span {
  color: #666;
  font-size: 1.7rem;
}

.banner-container .banner .content h3 {
  color: #333;
  font-size: 3rem;
}















/* ======= Responsive/Responsividade ======= */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  
  .header-1,
  .header-2,
  .header-3 {
    padding: 2rem;  
  }
  
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header-3 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    padding: 1rem 2rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header-3 .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header-3 .navbar a {
    display: block;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    background: #fff;
    text-align: center;
  }

  .header-2 {
    flex-flow: column;
  }

  .header-2 .search-bar-container {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header-1 {
    display: none;
  }
}